<p id="notice"><%= notice %></p>

<h1>Estudiantes</h1>

<table border="1">
  <thead>
    <tr>
      <th width="80">Nombre</th>
      <th width="80">App paterno</th>
      <th width="80">App materno</th>
      <th width="50">Curso</th>
      <th width="10" colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @estudiantes.each do |estudiante| %>
      <tr>
        <td><%= estudiante.nombre %></td>
        <td><%= estudiante.app_paterno %></td>
        <td><%= estudiante.app_materno %></td>
        <td><%= estudiante.curso.nombre %></td>
        <td><%= link_to 'Show', estudiante %></td>
        <td><%= link_to 'Edit', edit_estudiante_path(estudiante) %></td>
        <td><%= link_to 'Destroy', estudiante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estudiante', new_estudiante_path %>
